{% extends 'layout.html' %}
{% block title %}
Admin Register
{% endblock %}
{% block content %}
<h1>New Admin Register</h1>

<form method="post">
    <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="confirmpassword" class="form-label">Confirm Password</label>
        <input type="password" name="confirmpassword" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>

    <input type="submit" value="Register" class="btn btn-primary">
</form>

{% endblock %}
