{% extends 'layout.html' %}
{% block title %}
    Edit Campaign
{% endblock %}
{% block content %}
    

<div class="container mt-5">
    <h1 class="mb-4">Edit Campaign</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method="post">
        
        <div class="form-group">
            <label for="name">Campaign Name</label>
            <input type="text" id="name" name="name" class="form-control" value="{{campaign.name}}" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" class="form-control" rows="4" required>{{campaign.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="start_date">Start Date</label>
            <input type="date" id="start_date" name="start_date" class="form-control" value="{{campaign.start_date}}" required>
        </div>
        <div class="form-group">
            <label for="end_date">End Date</label>
            <input type="date" id="end_date" name="end_date" class="form-control" value={{campaign.end_date}} required>
        </div>
        <div class="form-group">
            <label for="budget">Budget</label>
            <input type="number" id="budget" name="budget" class="form-control" step="0.01" value={{campaign.budget}} required>
        </div>
        <div class="form-group">
            <label for="visibility">Visibility</label>
            <select id="visibility" name="visibility" class="form-control" value="{{campaign.visibility}}" required>
                <option value="Public"  {% if campaign.visibility=="Public"%} selected {%endif%}>Public</option>
                <option value="Private" {% if campaign.visibility=="Private"%} selected {%endif%}>Private</option>
            </select>
        </div>
        <div class="form-group">
            <label for="goals">Goals</label>
            <textarea id="goals" name="goals" class="form-control" rows="4" >{{campaign.goals}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update Campaign</button>
    </form>
</div>

<form action="{{ url_for('delete_campaign', id=campaign.campaign_id) }}" method="post" style="display:inline;">
    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
</form>

{% endblock %}