{% extends 'layout.html' %}
{% block title %}
Sponsor Login    
{% endblock %}
{% block content %}
<h1>Sponsor Login</h1>

<form method="post">

    <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    

    
    <input type="submit" value="Login" class="btn btn-primary">



</form>
    
{% endblock %}

