{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Manage Proposals for Your Campaigns</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Influencer</th>
                <th>Campaign</th>
                <th>Proposal</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for proposal in proposals %}
            <tr>
                <td>{{ proposal.inf_id }}</td>
                <td>{{ proposal.campaign_id }}</td>
                <td>{{ proposal.proposal_text }}</td>
                <td>{{ proposal.status }}</td>
                <td>

                    {% if proposal.status=="Pending" %}
                    <form action="{{ url_for('manage_proposals', proposal_id=proposal.adrequestproposal_id) }}" method="post" style="display: inline;">
                        <input type="hidden" name="action" value="accept">
                        <button type="submit" class="btn btn-success">Accept</button>
                    </form>
                    <form action="{{ url_for('manage_proposals', proposal_id=proposal.adrequestproposal_id) }}" method="post" style="display: inline;">
                        <input type="hidden" name="action" value="reject">
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
                    {% endif %}
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
