{% extends 'layout.html' %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Register as</h1>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Sponsor</h2>
                    <p class="card-text">Register as a Sponsor to create and manage campaigns.</p>
                    <a href={{url_for("sponsorregister")}} class="btn btn-primary">Register as Sponsor</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Influencer</h2>
                    <p class="card-text">Register as an Influencer to participate in campaigns.</p>
                    <a href={{url_for("influencerregister")}} class="btn btn-primary">Register as Influencer</a>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}